<div id="vue">
    Hello World !
    
    <ul>
        <li v-for="c in cases">
            {{ c.order }}
            {{ c.state }}
            {{ c.client }}
        </li>
    </ul>
</div>

<% content_for :after_js do %>
    <%= javascript_pack_tag 'cases' %>
<% end %>